 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 *{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
 }

 body{
   margin:0; 
   padding:0;
   background-color:rgb(171, 177, 182);
}

nav{
   height: 10vh;
   background-color: rgb(231, 231, 238);
   display:flex;
   align-items: center;
}

nav ul {
   display: flex;
   list-style-type: none;
   align-items: center;
}

nav ul li {
  margin: 15px;
   font-size: 20px;
   cursor: pointer;
   
}

.home{
   color: black;
}

.home:hover{
  font-weight:bold;
}

.MyProject{
  color: black;

}

.MyProject:hover{
font-weight: bolder;
}

.conbar{
   flex: 50%;

}

.contactMe{
   flex: 50%;
   text-align: end;
}
.contactMe a {
   background-color: rgb(11, 11, 68);
   color: white;
   padding: 5px 5px;
   font-weight: bold;
   margin-right: 25px;
   border-radius: 7px;
}

.contactMe a:hover{
  transition: 0.1s;
background-color: rgb(3, 3, 26);

}
 /* postcard */
 .conbox{
    
     align-items: center;
     justify-content: center;
     background-color: white;
     height: auto; width: auto;
     margin: 60px 80px 20vh;
     border-radius: 20px;
     box-shadow: 0 2px 7px;
     
 }

 .sex{
    display: flex;
    height: 80vh;
    align-items: center;
 }

 section{
     width: 60%;
    text-align: justify;
     padding: 30px ;


 }

 .btn button{
    background-color: rgb(7, 7, 51);
    color: white;
    border: none;
    margin: 7px;
    border-radius: 8px;
    cursor: pointer;
    
 }

 .downloadcv{
    font-size: smaller;
    margin: 5px;
 }

 .jav{

   height: 300px;
   width: 30%;
   border:none;
   border-radius: 11px;
   text-align: center;
   box-shadow: 0 1px 8px;
   
 }
 .by{
    display: flex;
    height: 250px;
    width: 100%;
    border-radius: 11px;
 }

 @media only screen and (max-width:500px) {
   
 }

 