@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 *{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
 }

body{
    margin:0; 
    padding:0;
    background-color:rgb(171, 177, 182);
 }

 nav{
    height: 10vh;
    background-color: rgb(231, 231, 238);
    display:flex;
    align-items: center;
 }

 nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
 }

 nav ul li {
   margin: 15px;
    font-size: 20px;
    cursor: pointer;
    
 }

 .home{
    color: black;
 }

 .home:hover{
   font-weight:bold;
   color: orangered;
 }

 .testimony{
   color: black;
}

.testimony:hover{
  font-weight:bold;
  color: orangered;

}

 .MyProject{
   color: black;
   

 }

.MyProject:hover{
  font-weight:bold;
  color: orangered;


}

.conbar{
    flex: 50%;

 }

 .contactMe{
    flex: 50%;
    text-align: end;
 }
 .contactMe a {
    background-color: rgb(11, 11, 68);
    color: white;
    padding: 5px 5px;
    font-weight: bold;
    margin-right: 25px;
    border-radius: 7px;
 }

 .contactMe a:hover{
   transition: 0.1s;
background-color:orangered;

}

#hamburger{
   display: none;
}
.hamburger-item{
   width: 100%;
   display: none;
}
.hamburger-item a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   background-color: #09083a;
   display: flex;
   flex-direction: column;  
   text-align: center;
   padding: 10px;
   border: none;
}

 form{
     height: auto;
    width: 40%;
    margin: 70px auto;   
 }

 form h2 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
 }
 form div{
    margin-top: 1px;

}

label{
    font-weight: bold;
   
}

input, select, textarea {
    background-color: #dfdede;
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    resize: none;
}

.button-box{
   display: flex;
   box-sizing: border-box;
   justify-content: end;
}

button{
    
    margin-top: 15px;
    margin-left: 90%;
    box-sizing: border-box;
    background-color: rgb(18, 18, 65);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
}

button:hover{
    background-color: black;
}


@media only screen and (max-width:600px) {

   .contactMe{
    display: none;
   }
   .contactMe a{
      display: none;
     }
   .home{
    display: none;
   }.MyProject{
    display: none;
   }.testimony{
    display: none;
   }
 
   #hamburger{
    display: block;
    margin-right: 40px;
   }
 
}