{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="./css/style.css" />
</head>


<body>
    
     <!-- navbar bootstrap -->
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                  aria-label="Toggle navigation"
                  target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       <li class="me-4" >
                            <a class="nav-link active" aria-current="page" href="home"><img src="./image/logo.png"
                                      alt="logodumb" /></a>
                       </li>
                       <li class="nav-item me-2">
                            <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page" href="home">HOME</a>
                       </li>
                       <li class="nav-item me-2">
                            <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page"  href="addproject">ADD PROJECT</a>
                       </li>
                       <li class="nav-item me-2">
                            <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page" href="testimony">TESTIMONIAL</a>
                       </li>
                  </ul>
                  <div class="d-flex justify-content-center me-2">
                       <a href="contact"><button class="btn btn-primary btn-sm" id="button">CONTACT ME</button></a>
                  </div>
             </div>
        </div>
   </nav>

   <!-- navbar bootstrap end -->

   <div class="d-flex justify-content-center align-items-center bg-body-secondary">

     
     <div class="d-flex justify-content-center rounded-3 bg-white mx-2 my-5" style="width: 60%;">
       
      <form class="card border border-white my-4" method="post" action="/editproject">
         <h2 class=" text-center">ADD MY PROJECT</h2>

       <div class="mb-3">
        <label for="nameproject" class="form-label">Name</label>
        <input type="text" name="title" class="form-control" id="nameproject" placeholder="ketik nama project..">
      </div>

      <div class="row g-0 justify-content-center  mb-3">
        <div class="col-auto me-1">
          <label for="sdate"  class="col-form-label">Star Date</label>
        </div>
        <div class="col-auto me-2 ">
          <input type="date" id="sdate" name="start" class="form-control" aria-describedby="date">
        </div>
            <div class="col-auto me-1">
              <label for="edate" class="col-form-label ">End Date</label>
            </div>
            <div class="col-auto">
              <input type="date" id="edate" name="until" class="form-control" aria-describedby="date">
            </div>
      </div>

      <!-- checkbox bootstrap -->

        <div class="row mt-4">
            <div class="col-sm-5 offset-sm-2">
              <div class="form-check">
                <input class="form-check-input"  type="checkbox" name="check1" id="tekno1">
                <label class="form-check-label" for="tekno1">
                 node.js
                </label>
              </div>
            </div>
            <div class="col-sm-5 ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="check2" id="tekno2">
                <label class="form-check-label" for="tekno2">
                  react.js
                </label>
              </div>
            </div>
        </div>
            
        <div class="row mb-3"> 
            <div class="col-sm-5 offset-sm-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="check3" id="tekno3">
                <label class="form-check-label" for="tekno3">
                  next.js
                </label>
              </div>
            </div>
            
            <div class="col-sm-5 ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="check4" id="tekno4">
                <label class="form-check-label" for="tekno4">
                  Javascript
                </label>
              </div>
            </div>
        </div>


        <!-- checkbox bootstrap -->
                             
      <div class="mb-3">
        <label for="des" class="form-label">Descripsi</label>
        <textarea class="form-control" name="content" id="des" rows="3"></textarea>
      </div>

    
        <label  for="uplod" class="form-label">Upload</label>
        <input type="file" class="form-control" id="uplod">

        <div>
            <button type="submit"  class="btn btn-primary btn-sm mt-4 offset-sm- ">Submit</button>
          </div>
          
          
        </form>    
      </div>
    </div>
      
       
   
   <!-- blog mockup -->

   <!-- <div class="blog">
     <div class="blogContain"> 
        <div class="blogFrom">
            <form onsubmit="addblog(event)">

                <div class="text">
                    <label for="nameproject">Project Name</label>
                    <input type="text" id="nameproject" style="border-radius: 3px;"/> 
                </div>

                <div class="date">
                    <div class="dates">
                        <label for="sdate">Start Date</label>
                        <input type="date" id="sdate" style="border-radius: 7px;""/>
                    </div>
                    <div class="dated">
                        <label for="edate">End Date</label>
                        <input type="date" id="edate" style="border-radius: 7px;" />
                    </div>
                </div>

               

                <div class="text">
                    <label for="des">Description</label>
                    <textarea id="des" rows="5" cols="49"></textarea>
                </div>


                <!-- cexbox -->

<!-- 
                    <label for="tekno"" >Teknologies</label>
                    <div class="teknologi">
                        <table class="box">
                            <tr>
                                <td> <label for="tekno1">Node.js</label></td> 
                                <td><input type="checkbox" name="check" id="tekno1" /></td>
                                <td><label for="tekno2">React.js</label></td>
                                <td><input type="checkbox" id="tekno2" /></td>
                            </tr>     
                            <tr>
                                <td><label for="tekno3">Next.js</label> </td>
                                <td><input type="checkbox" id="tekno3" /></td>
                                <td><label for="tekno4">Javascript</label> </td>
                                <td> <input type="checkbox" id="tekno4" /></td>
                            </tr>
                        </table>
                        </div>
              
                <!-- upload -->

                
                    <!-- <label for="uplod">Upload Image</label>
                  <div class="upload">
                    <div class="upl">
                        <input type="file" id="uplod" class="uplod"/>
                    </div class="upr">
                    <div> <img src="./image/file.png" alt="file"/></div>
                  </div>


                <div class="submite">
                    <button type="submit"  class="submit">Submit</button>
                </div>
            </form>
        </div>     -->
    <!-- </div> -->

   {{!-- <script src="./js/blog.js"></script> --}}
    
</body>
</html> --}}


<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="./css/style.css" />


    <title>Blog-detail</title>
</head>

<body>
<!-- navbar bootstrap -->
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation"
                    target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
                    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="me-4" >
                              <a class="nav-link active" aria-current="page" href="home"><img src="./image/logo.png"
                                        alt="logodumb" /></a>
                         </li>
                         <li class="nav-item me-2">
                              <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page" href="home">HOME</a>
                         </li>
                         <li class="nav-item me-2">
                              <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page"  href="addproject">ADD PROJECT</a>
                         </li>
                         <li class="nav-item me-2">
                              <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page" href="testimony">TESTIMONIAL</a>
                         </li>
                    </ul>
                    <div class="d-flex justify-content-center me-2">
                         <a href="contact"><button class="btn btn-primary btn-sm" id="button">CONTACT ME</button></a>
                    </div>
               </div>
          </div>
     </nav>

     <!-- navbar bootstrap end -->

    <div class="text-center my-5">
        <h1>title</h1>
    </div>
    <br>
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-sm-8"> <img src="./image/foto wisuda.jpg" alt="" class="card-img-top" width="260"
                    height="250"> </div>
            <div class="col-sm-4">
                <h3>Duration</h3>
                <p>200px</p>
                <h3>Teknologies</h3>
                <div class="mt-3">
                    <i class="fa-brands fa-square-js fa-xl" id="iconstate"></i>
                    <i class="fa-brands fa-square-js fa-xl" id="iconstate"></i>
                    <i class="fa-brands fa-square-js fa-xl" id="iconstate"></i>
                    <i class="fa-brands fa-square-js fa-xl" id="iconstate"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-sm-8"> 
                <h4></h4>
                 </div>
    </div>

</body>
</html>