<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="./css/style.css" />
     <title>tugas2</title>
</head>

<body>

<!-- navbar bootstrap -->
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation"
                    target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="me-4" >
                              <a class="nav-link active" aria-current="page" href="home"><img src="./image/logo.png"
                                        alt="logodumb" /></a>
                         </li>
                         <li class="nav-item me-2">
                              <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page" href="home">HOME</a>
                         </li>
                         <li class="nav-item me-2">
                              <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page"  href="addproject">ADD PROJECT</a>
                         </li>
                         <li class="nav-item me-2">
                              <a class="nav-link active fs-5 fw-semibold text-primary-emphasis" id="nav-text" aria-current="page" href="testimony">TESTIMONIAL</a>
                         </li>
                    </ul>
                    <div class="d-flex justify-content-center me-2">
                         <a href="contact"><button class="btn btn-primary btn-sm" id="button">CONTACT ME</button></a>
                    </div>
               </div>
          </div>
     </nav>

     <!-- navbar bootstrap end -->

     <!-- navigation bar -->
     <!-- <nav>
          <div class=" conbar">
               <ul>
                    <li>
                         <img src="./image/logo.png" alt="logodumb" />
                    </li>
                    <li>
                         <a class="home" href="index.html">Home</a>
                    </li>
                    <li>
                         <a class="MyProject" href="MyProject.html">My Project</a>
                    </li>
                    <li>
                         <a class="testimony" href="testimony.html">Testimony</a>
                    </li>
               </ul>
          </div>
          <div class="contactMe">
               <a href="contact.html">Contact me</a>
          </div>
          <div class="hamburger" id="hamburger">
               <button onclick="openHamburger()"><i class="fa-solid fa-burger fa-2xl"
                         style="color: #0d203f;"></i></button>
          </div>

     </nav> -->


     <!-- <div class="hamburger-item" id="hamburger-item" style="display: none;">
          <a href="index.html">Home</a>
          <a href="MyProject.html">My Project</a>
          <a href="testimony.html">Testimonial</a>
          <a href="contact.html">Contact Me</a>
     </div> -->


     <!-- main menu -->

     <div class="d-flex justify-content-center align-items-center bg-body-secondary">
          <div class="card mt-5 mb-4 w-75 h-10 shadow p-3 mb-5 rounded" >
               <div class="row g-0">
                    
                    <div class="col-md-7">
                    <div class="card-body my-5">
                              <h2 class="card-title mb-3">Hey Welcome to my hut</h2>
                              <p class="card-text " style="text-align:justify;">My name is Abdul Aziz Nashirudin, but you can call me Abdul.
                                  I come from Bandung and hold a degree in Physics from Padjadjaran University.
                                  During my time in university, I gained valuable experience as a laboratory instrumentation
                                  assistant and was actively involved in various organizations.
                                  Being a scientist by training has made me adaptable and a quick learner.
                                  I am enthusiastic about delving into the advancements of digital transformation and aspire to
                                  become a pirate king.
                                  My diverse background and experiences have shaped me into someone who's always ready to embrace
                                  new challenges and opportunities.</p>
                              <p class="card-text"><small class="text-body-secondary"><span><a href="contact.html" class="btn btn-primary btn-sm me-3" id="button">Contact Me</a></span><a class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"" href="">Download CV</a></small></p>
                              <div class="text-center">
                                  <a href="https://www.linkedin.com/in/abdul-aziz-nashirudin-970188216/" ><i class="fa-brands fa-linkedin fa-2x me-3" href="contact.html" ></i></a>
                                  <a href="https://www.instagram.com/dultengmax/"><i class="fa-brands fa-instagram fa-2x me-3" "></i></a>                                  
                                  <a href="https://www.facebook.com/abdulaziznasirudin/"><i class="fa-brands fa-facebook fa-2x me-3" "></i></a>
                                  <a href="https://twitter.com/home"><i class="fa-brands fa-twitter fa-2x me-3"></i> </a>
                               </div>
                   </div>
                 </div>
                 <div class="card col-md-4 my-5 mx-auto  text-center">
                      <img src="image/foto wisuda.jpg" alt="" class="card-img-top" width="260" height="250"  >
                      <div class="card-body align-items-center">
                          <b>Abdul Aziz Nashirudin<br></b>
                          <p2>fullstack developer</p2>
                      </div>
                    </div>
               </div>
             </div>
         </div>

         <!-- my project -->

             <!-- project board -->
             <div class="w-75 mx-auto">
               <div class="text-center my-3"><h1>MY PROJECT</h1></div> 
               <div class="row row-cols-3 row-cols-md-2 g-7 " id="filblog">
                    <div class="col-md-3">
                      <div class="card">
                        <img src="image/foto wisuda.jpg" class="card-img-top" alt="image/foto wisuda.jpg">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text"> waktu</p>
                          <p class="card-text">deskripsi</p>
                          <p class="card-text"></p>
                          <a href="contact.html" class="btn btn-primary btn-sm me-3" id="button">edit</a>
                          <a href="contact.html" class="btn btn-primary btn-sm me-3" id="button">delete</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card">
                        <img src="image/foto wisuda.jpg" class="card-img-top" alt="image/foto wisuda.jpg">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text"></p>
                          <p class="card-text"></p>
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card">
                        <img src="image/foto wisuda.jpg" class="card-img-top" alt="image/foto wisuda.jpg">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text"></p>
                          <p class="card-text"></p>
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
          </div>
               
               <script src="./js/blog.js"></script>
          </body>

</html>